## Unit 29. 함수

### 29.1 출력 함수 만들기

In [1]:
def hello():
  print('hello')

In [2]:
hello()

hello

### 29.2 덧셈 함수

In [9]:
# Docstrings
def add(a , b):
  """
    이 함수는 a와 b를 더한 뒤 결과를 프린트하는 함수 입니다.
  """
  print(a + b)

In [7]:
add(4,5)

9

In [10]:
add?

### 29.3 결과값 반환

In [11]:
def add(a,b):
  return a+b

In [12]:
add(4,5)

9

In [13]:
x = add(23,45)
x

68

In [14]:
def is_ten(x):
  return x == 10

In [15]:
is_ten(30)

False

In [16]:
def not_ten(x):
  if x != 10:
    print("it's not ten")

In [17]:
not_ten(101//10)

### 29.4 여러개의 결과값 반환

In [19]:
def add_sub(a,b):
  return a+b, a-b

In [20]:
x, y = add_sub(15,7)

In [21]:
x, y

(22, 8)

### 29.5 함수의 호출과정

In [ ]:
# stack 이용

## 연습문제

### 3자리수 정수 두개를 곱해서 나온 결과가 팔린드롭이 되도록 할때 가장 큰 숫자는? ex) 12321

In [22]:
def is_palindrome(x):
  s = str(x)
  return s == s[::-1]

In [23]:
max_pal = 0
for i in range(100, 1000):
  for k in range(i, 1000):
    if is_palindrome(i*k):
      if i*k > max_pal:
        max_pal = i*k
        m = i
        n = k

print(f'{m} x {n} = {max_pal}')

913 x 993 = 906609