In [ ]:
### a + b + c = 1000 (a < b < c)
# a*a + b*b = c*c 인 피타고라스 수는?

In [ ]:
## 15장 심사문제
age = int(input())
balance = 9000    # 교통카드 잔액

if age < 13:
  balance = balance - 650
elif age < 19:
  balance = balance - 1050
else:
  balance = balance - 1250

print(balance)

19
7750

In [ ]:
## 16장 심사문제
num = int(input())
for i in range(1, 10):
  print(f'{num} * {i} = {num*i}')

10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90

In [ ]:
## 17장 심사문제
money = int(input())
while money >= 1350:
  money -= 1350
  print(money)

13500
12150
10800
9450
8100
6750
5400
4050
2700
1350
0

In [ ]:
## 18장 심사문제
start, stop = map(int, input().split())
 
i = start
 
while True:
  if i > stop:
    break

  if i % 10 == 3:
    i += 1
    continue
  print(i, end=' ')
  i += 1

1 20
1 2 4 5 6 7 8 9 10 11 12 14 15 16 17 18 19 20

In [32]:
## 19장 심사문제
star = int(input())

for i in range(1, star+1):
  print(' ' * (star-i), '*' * (2*i-1), sep='' )

3
  *
 ***
*****

In [37]:
## 22장 심사문제
start, end = map(int, input().split())
sq = []
for i in range(start, end+1):
  sq.append(2 ** i)
del sq[1]
del sq[-2]
print(sq)

10 20
[1024, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 1048576]