## Unit 30. 위치 인수와 키워드 인수

### 30.1 위치 인수

In [1]:
print(10, 20, 30, sep=', ')

10, 20, 30

In [2]:
print(tuple(range(10, 101, 10)))

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

In [3]:
def print_numbers(a,b,c):
  print(a)
  print(b)
  print(c)

In [4]:
x, y = [10, 20, 30], (40,50,60)
print_numbers(*x)
print_numbers(*y)

10
20
30
40
50
60

In [7]:
#  가변인수
def print_numbers(*args):
  for arg in args:
    print(arg)

In [8]:
def personal_info(name, age, addr):
  print('이름 : ', name)
  print('나이 : ', age)
  print('주소 : ', addr)

In [10]:
x = {'name' : '홍길동', 'age' : 30, 'addr' : '서울 강남구 도곡동'}
personal_info(**x)
personal_info(*x)

이름 :  홍길동
나이 :  30
주소 :  서울 강남구 도곡동
이름 :  name
나이 :  age
주소 :  addr

### 가변 키워드 인수

In [13]:
def personal_info2(**kwargs):
  for key, value in kwargs.items():
    print(f'{key}: {value}')

In [14]:
personal_info2(**x)

name: 홍길동
age: 30
addr: 서울 강남구 도곡동

In [15]:
def personal_info3(name, **kwargs):
  print(name)
  print(kwargs)

In [16]:
personal_info3(**x)

홍길동
{'age': 30, 'addr': '서울 강남구 도곡동'}