## Unit 31. 재귀함수

In [1]:
def factorial(n):
  if n == 0:
    return 1
  return n*factorial(n-1)

In [2]:
factorial(5)

120

In [3]:
def fibo(n):
  if n == 1 or n == 2:
    return 1
  return fibo(n-1) + fibo(n-2)

In [6]:
[fibo(i) for i in range (1, 11)]

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]