## Unit 32.람다함수

In [1]:
def plus_ten(x):
  return x+10

In [2]:
plus_ten(5)

15

In [3]:
plus_ten2 = lambda x: x+10
plus_ten2(5)

15

In [4]:
(lambda x: x+10)(5)

15

In [5]:
list(map(lambda x: int(x)+10, input().split()))

2 5 10

[12, 15, 20]

In [6]:
def plus_ten(x):
  return int(x) + 10
list(map(plus_ten, input().split()))

5 10 15

[15, 20, 25]

## 제약사항

In [7]:
(lambda x: y=10; x+y)(3)

SyntaxError: ignored

In [8]:
y = 10
(lambda x: x+y)(3)

13

## 조건부 함수

In [10]:
a = list(range(1,11))
list(map(lambda x: str(x) if x%3 == 0 else x, a))

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [12]:
list(map(lambda x: str(x) if x%3 ==0 else float(x) if x%5==0 else x, a))

[1, 2, '3', 4, 5.0, '6', 7, 8, '9', 10.0]

### map에 여러 객체 넣기

In [13]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]
list(map(lambda x,y : x*y, a, b))

[6, 14, 24, 36, 50]

### filter

In [ ]:
a = list(range(1,11))
list(map(lambda x: str(x) if x%3 == 0 else x, a))