## Unit 34. Class

### Unit 34.1 클래스와 메소드 만들기

In [1]:
class Person:
  def greeting(self):
    print('Hello')

In [2]:
james = Person()
maria = Person()

In [3]:
james.greeting()

Hello

In [4]:
class Person:
  def greeting(self):
    print('Hello')

  def hello(self):
    self.greeting()

In [5]:
james = Person()
james.hello()

Hello

In [13]:
def fact(n):
  if not isinstance(n, int):
    return None
  if n == 0:
    return 1
  return n*fact(n-1)

In [11]:
fact(3.14)

In [14]:
fact(6)

720

### 34.2 속성

In [6]:
class Person:
  def __init__(self):
    self.hello = '안녕하세요'

  def greeting(self):
    print(self.hello)

In [7]:
maria = Person()
maria.greeting()

안녕하세요

In [8]:
maria.hello = 'how are you?'
maria.greeting()

how are you?

In [15]:
class Person:
  def __init__(self, hello): # Constructor
    self.hello = hello

  def greeting(self):
    print(self.hello)

In [16]:
james = Person('안녕하세요')
maria = Person('HiHi')

In [17]:
james.greeting()
maria.greeting()

안녕하세요
HiHi

In [20]:
class Person:
  def __init__(self, name, age, addr): 
    self.hello = '안녕하세요'
    self.name = name
    self.age = age
    self.addr = addr

  def greeting(self):
    print(f'{self.hello} 저는 {self.name}입니다.')

  def __str__(self):
    return f'hello: {self.hello}, name: {self.name}, age: {self.age}, addr: {self.addr}'

In [21]:
maria = Person('마리아', 23, '서울시 강남구 도곡동')
maria.greeting()

안녕하세요 저는 마리아입니다.

In [22]:
print(maria)

hello: 안녕하세요, name: 마리아, age: 23, addr: 서울시 강남구 도곡동

### 34.3 비공개 속성

In [23]:
maria.age = 30
print(maria)

hello: 안녕하세요, name: 마리아, age: 30, addr: 서울시 강남구 도곡동

In [37]:
class Person:
  def __init__(self, name, age, addr, wallet): 
    self.name = name
    self.age = age
    self.addr = addr
    self.__wallet = wallet ## __wallet 은 비공개

  def greeting(self):
    print(f'hi 저는 {self.name}입니다.')

  def pay(self, amount):
    if self.__wallet - amount < 0:
      print('지갑에 돈이 부족합니다.')
    else:
      self.__wallet -= amount
      print(f'{amount}원을 지불하였습니다. \n현재 남은 금액은 {self.__wallet}원 입니다.')

  # 자바 toString과 유사
  def __str__(self):
    return f'name: {self.name}, age: {self.age}, addr: {self.addr}, wallet: {self.__wallet}'

In [39]:
james = Person('james', 27, '서울시 강남구 역삼동', 10000)
james.greeting()
print(james)

hi 저는 james입니다.
name: james, age: 27, addr: 서울시 강남구 역삼동, wallet: 10000

In [40]:
james.__wallet = 1000000

In [41]:
print(james)

name: james, age: 27, addr: 서울시 강남구 역삼동, wallet: 10000

In [42]:
james.pay(5000)

5000원을 지불하였습니다.
현재 남은 금액은 5000원 입니다.

#### 계좌 클래스 만들기

In [51]:
class Account:
  def __init__(self, ano, owner, balance):
    self.ano = ano
    self.owner = owner
    self.__balance = balance

  def deposit(self, amount):
    if self.__balance + amount >= 10000000:
      print("잔액 초과로 입금 불가")
    else:
      self.__balance += amount
      print(f'잔액은 {self.__balance}원 입니다.')

  def withdraw(self, amount):
    if self.__balance - amount < 0:
      print("잔액이 부족하여 출금할수 없습니다.")
    else:
      self.__balance -= amount
      print(f'잔액은 {self.__balance}원 입니다.')

  def __str__(self):
    return f'계좌번호: {self.ano}, 계좌주: {self.owner}, 잔액: {self.__balance:9,d}'

In [52]:
account1 = Account('123456', 'hanna', 9000000)
print(account1)
account1.deposit(1000001)
account1.withdraw(9000001)
print(account1)
account1.deposit(1)
print(account1)
account1.withdraw(9000001)
print(account1)

계좌번호: 123456, 계좌주: hanna, 잔액:   9000000
잔액 초과로 입금 불가
잔액이 부족하여 출금할수 없습니다.
계좌번호: 123456, 계좌주: hanna, 잔액:   9000000
잔액은 9000001원 입니다.
계좌번호: 123456, 계좌주: hanna, 잔액:   9000001
잔액은 0원 입니다.
계좌번호: 123456, 계좌주: hanna, 잔액:         0

In [53]:
account2 = Account('987654', 'maria', 300000)
print(account2)

계좌번호: 987654, 계좌주: maria, 잔액:    300000

In [54]:
acc_list = [account1, account2]

In [55]:
for acc in acc_list:
  print(acc)

계좌번호: 123456, 계좌주: hanna, 잔액:         0
계좌번호: 987654, 계좌주: maria, 잔액:    300000

### 1:계좌생성, 2:계좌목록, 3:입금, 4:출금, 5:종료

In [72]:
class Account:
  def __init__(self, ano, owner, balance):
    self.ano = ano
    self.owner = owner
    self.__balance = balance

  def deposit(self, amount):
    if self.__balance + amount >= 10000000:
      print("잔액 초과로 입금 불가")
    else:
      self.__balance += amount
      print(f'{self.owner}님의 잔액은 {self.__balance}원 입니다.')

  def withdraw(self, amount):
    if self.__balance - amount < 0:
      print("잔액이 부족하여 출금할수 없습니다.")
    else:
      self.__balance -= amount
      print(f'{self.owner}님의 잔액은 {self.__balance}원 입니다.')

  def __str__(self):
    return f'계좌번호: {self.ano}, 계좌주: {self.owner}, 잔액: {self.__balance:9,d}'

In [73]:
acc_list = []

In [76]:
def create_account():
  new_ano, new_owner, new_balance = input('계좌번호 계좌주 잔액을 띄어쓰기로 구분하여 입력해주세요.').split()
  for acc in acc_list:
    if acc.ano == new_ano:
      new_ano = input('중복된 계좌번호 입니다. 다시 입력해주세요')
  new_acc = Account(new_ano, new_owner, int(new_balance))
  acc_list.append(new_acc)

def deposit_account():
  target_ano, amount = input('계좌번호와 입금액을 띄어쓰기로 구분하여 입력해주세요.').split()
  for acc in acc_list:
    if acc.ano == target_ano:
      acc.deposit(int(amount))
      return

def withdraw_account():
  target_ano, amount = input('계좌번호와 출금액을 띄어쓰기로 구분하여 입력해주세요.').split()
  for acc in acc_list:
    if acc.ano == target_ano:
      acc.withdraw(int(amount))
      return

In [75]:
while True:
  menu = int(input('1:계좌생성, 2:계좌목록, 3:입금, 4:출금, 5:종료 '))
  if menu == 5:
    print(f'종료합니다.')
    break
  elif menu == 1:
    create_account()
  elif menu == 2:
    for account in acc_list:
      print(account)
  elif menu == 3:
    deposit_account()
  elif menu == 4:
    withdraw_account()
  else:
    print('잘못된 입력입니다.')

  print()

1:계좌생성, 2:계좌목록, 3:입금, 4:출금, 5:종료 2

1:계좌생성, 2:계좌목록, 3:입금, 4:출금, 5:종료 1
계좌번호 계좌주 잔액을 띄어쓰기로 구분하여 입력해주세요.987654 홍길동 10000

1:계좌생성, 2:계좌목록, 3:입금, 4:출금, 5:종료 1
계좌번호 계좌주 잔액을 띄어쓰기로 구분하여 입력해주세요.654321 박나래 20000

1:계좌생성, 2:계좌목록, 3:입금, 4:출금, 5:종료 2
계좌번호: 987654, 계좌주: 홍길동, 잔액:    10,000
계좌번호: 654321, 계좌주: 박나래, 잔액:    20,000

1:계좌생성, 2:계좌목록, 3:입금, 4:출금, 5:종료 3
계좌번호와 입금액을 띄어쓰기로 구분하여 입력해주세요.987654 500000
홍길동님의 잔액은 510000원 입니다.

1:계좌생성, 2:계좌목록, 3:입금, 4:출금, 5:종료 5
종료합니다.